<%- include("partials/header.ejs") %>

    <div class="albumPage">
        <!-- Header -->
        <div class="header" id="myHeader">
            <h1>Image Grid</h1>
            <p>Click on the buttons to change the grid view.</p>
            <button class="btn" onclick="one()">1</button>
            <button class="btn" onclick="two()">2</button>
            <button class="btn active" onclick="four()">4</button>
        </div>

        <!-- Photo Grid -->
        <div class="row">

            <div class="column">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Bulbasaur-and-Pikachu.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Ash-and-Bulbasaur.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332630/original/1002332630-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332563/original/1002332563-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332567/original/1002332567-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332602/original/1002332602-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Bulbasaur-Looking-Up.jpg?q=50&fit=contain&w=1140&h=&dpr=1.5"
                    style="width:100%">
            </div>

            <div class="column">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332597/original/1002332597-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332576/original/1002332576-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://www.thefactsite.com/wp-content/uploads/2018/04/Bulbasaur-facts.webp"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332575/original/1002332575-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332571/original/1002332571-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2020/02/27/12/pokemon-bulbasaur.png?crop=8:5,smart&quality=75&auto=webp&width=1024"
                    style="width:100%">
            </div>

            <div class="column">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332569/original/1002332569-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Bulbasaur-Looking-Angry.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Bulbasaur-Using-Vine-Whip.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Happy-Bulbasaur.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Venusaur.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Bulbasaur-Looking-Happy.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://i0.wp.com/apollolemmon.com/wp-content/uploads/2022/03/%E3%80%90%E5%85%AC%E5%BC%8F%E3%80%91ASMR%E3%83%BB%E6%A3%AE%E3%81%AE%E9%9F%B3-%E3%83%95%E3%82%B7%E3%82%AE%E3%83%80%E3%83%8D%E3%81%A8%E3%81%84%E3%81%A3%E3%81%97%E3%82%87-Bulbasaur-in-the-Woods-40-24-screenshot.png?fit=1280%2C720&ssl=1"
                    style="width:100%">
            </div>
            
            <div class="column">
                <img src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2022/01/Bulbasaur-Squirtle-And-Charmander-e1643387106961.jpg"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Bulbasaur.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Ivysaur.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Mays-Bulbasaur-Using-Vine-Whip.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332585/original/1002332585-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
                <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/Bulbasaur-Looking-Up.jpg?q=50&fit=crop&w=1500&dpr=1.5"
                    style="width:100%">
                <img src="https://imgix.ranker.com/user_node_img/50117/1002332579/original/1002332579-photo-u1?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=650"
                    style="width:100%">
            </div>

        </div> <!-- row -->
    </div> <!-- albumPage -->

    <%- include("partials/footer.ejs") %>

        <script>
            // -------------------------------- Image Grid --------------------------------
            // Get the elements with class="column"
            var elements = document.getElementsByClassName("column");

            // Declare a loop variable
            var i;

            // Full-width images
            function one() {
                for (i = 0; i < elements.length; i++) {
                    elements[i].style.msFlex = "100%";  // IE10
                    elements[i].style.flex = "100%";
                }
            }

            // Two images side by side
            function two() {
                for (i = 0; i < elements.length; i++) {
                    elements[i].style.msFlex = "50%";  // IE10
                    elements[i].style.flex = "50%";
                }
            }

            // Four images side by side
            function four() {
                for (i = 0; i < elements.length; i++) {
                    elements[i].style.msFlex = "25%";  // IE10
                    elements[i].style.flex = "25%";
                }
            }

            // Add active class to the current button (highlight it)
            var header = document.getElementById("myHeader");
            var btns = header.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    current[1].className = current[1].className.replace(" active", "");
                    this.className += " active";
                });
            }


        </script>